In [3]:
import pandas as pd
import numpy as np

In [5]:
# Step 1: Read CSV (assuming date is in DD-MM-YYYY or similar)
ml = pd.read_csv('merit_list40.csv')

In [7]:
# Step 2: Convert DOB to datetime object (auto detects day first)
ml['DOB'] = pd.to_datetime(ml['DOB'], dayfirst=True, errors='coerce')

In [9]:
# Step 3: Drop rows where DOB failed to convert (optional safety step)
ml = ml.dropna(subset=['DOB'])

In [11]:
# Step 4: Convert DOB to correct string format for MySQL
ml['DOB'] = ml['DOB'].dt.strftime('%Y-%m-%d')

In [13]:
db_user = "root"
db_password = "123456"
db_host = "localhost"
db_name = "CANDIDATES"

In [17]:
pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in c:\users\nehar\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\nehar\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pymysql in c:\users\nehar\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\nehar\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nehar\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nehar\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nehar\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\nehar\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nehar\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\nehar\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
from sqlalchemy import create_engine

In [21]:
engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

In [23]:
ml.to_sql('students', con=engine, if_exists='append', index=False)
print("Upload successful!")

Upload successful!